<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <title>Homepage</title>
</head>

<body>

  <form action = '{{ url_for('getCreateCategory', user_id = login_session['user_id']) }}' method = 'post'>
    <p>New Category:<input type ='text' size='30' name='name' placeholder='Name'></p>
    <input type='submit' value='Submit'>
  </form>

  <p>YOU ARE LOGGED IN</p>	
  
  <a href='{{ url_for('getLogin') }}'>
    Login
  </a>

  <br>

  <a href='{{ url_for('gdisconnect') }}'>
    Logout
  </a>
  
  <br>

  <br>

  <h2>CATEGORIES:</h2>

  <table>
  	{% for category in categories %}
  	<tr>
  		<td>
  			<a href='{{ url_for('getItems', user_id=login_session['user_id'], category_id=category.id) }}'>{{category.name}}</a>
  		</td>

  		<td>
  			<a href='#'>EDIT</a> |
  			<a href='#'>DELETE</a> |
  			<a href='#'>JSON</a>
  		</td>
  	</tr>
  	{% endfor %}	
  </table>

  <br>

  <h2>USERS:</h2>

  <ul>
	{% for user in users %}
	<li>ID {{user.id}} : {{user.email}}</li>
	{% endfor %}
  </ul>
  <br>
  <h2>LOGIN SESSION EMAIL:</h2>
  {{ login_session['email'] }}


</body>
<html>
