<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <title>Homepage</title>

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <form action = '{{ url_for('getCreateCategory', user_id = login_session['user_id']) }}' method = 'post'>
    <p>New Category:<input type ='text' size='30' name='name' placeholder='Name'></p>
    <input type='submit' value='Submit'>
  </form>

  <p>YOU ARE LOGGED IN</p>	
  
  <a href='{{ url_for('getLogin') }}'>
    Login
  </a>

  <br>

  <a href='{{ url_for('gdisconnect') }}'>
    Logout
  </a>
  
  <br>

  <br>

  <h2>CATEGORIES:</h2>

  <table>
  	{% for i in categories %}
  	<tr>
  		<td>
  			<a href='{{ url_for('getItems', user_id=login_session['user_id'], category_id=i.id) }}'>{{i.name}}</a>
  		</td>

  		<td>
  			<a href='#'>EDIT</a> |
  			<a href='#'>DELETE</a> |
  			<a href='{{ url_for('getCategoryJSON', user_id=login_session['user_id'], category_id=i.id) }}'>JSON</a>     <span style="color: red">ID: {{ i.id }}</span>
  		</td>
  	</tr>
  	{% endfor %}	
  </table>

  <h2>ITEMS IN CATEGORY {{ cat.name }}:</h2>
  <form action = '{{ url_for('getCreateItem', user_id = login_session['user_id'], category_id=cat.id) }}' method = 'post'>
    <p>Name:<input type ='text' size='30' name='name' placeholder='Name'></p>
    <p>Description:<input type ='text' size='60' name='description' placeholder='Description'></p>
    <input type='submit' value='Submit'>
  </form>

  <div>
    <ul>
      {% for item in items %}
      <li>
        <a href='{{ url_for('getItemInfo', user_id=login_session['user_id'], category_id=cat.id, item_id=item.id) }}'>{{item.name}}</a>
        <a href='{{ url_for('getItemEdit', user_id=login_session['user_id'], category_id=cat.id, item_id=item.id) }}'>EDIT</a> |
        <a href='#'>DELETE</a> |
        <a href='{{url_for('getItemJSON', user_id=login_session['user_id'], category_id=cat.id, item_id=item.id) }}'>JSON</a> <span style="color: red">ID: {{ item.id }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>

  <br>

  <div style="color: red">
    <h2>USERS:</h2>

    <ul>
	    {% for user in users %}
	    <li>ID {{user.id}} : {{user.email}}</li>
	    {% endfor %}
    </ul>
    <h2>LOGIN SESSION EMAIL:</h2>
    {{ login_session['email'] }}
  </div>


</body>
<html>
