* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  border: 1px solid rgba(0, 100, 255, 0.75);
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.header_item {
  font-family: "Arial", arial, sans-serif;
  color: rgba(0, 100, 255, 0.75);
  margin: 5px;
}

#logo {
  font-size: 60px;
}

.nav_container {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 100, 255, 0.75);
  min-height: 5px;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  flex-wrap: wrap;
}

.nav_item {
  margin: 1% 3%;
  color: white;
  font-family: "Arial", arial, sans-serif;
}

.body_wrapper {
  flex: 1;
  display: flex;
}

aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  border-right: 5px solid black;
  flex: 1;
}

.aside_head {
  color: white;
  background-color: black;
  text-transform: uppercase;
  padding: 1%;
  overflow-wrap: break-word;
}

.aside_form {
  border-bottom: 2px solid black;
  padding: 1%;
  overflow: auto;
}

.aside_link {
  border: 2px solid rgba(0, 100, 255, 0.75);
  border-radius: 20px;
  margin: 1% 3%;
}

a.aside_link:hover {
  background-color: rgba(0, 100, 255, 0.75);
}

.aside_item {
  text-align: center;
}

.body_container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.body_item {
  text-align: center;
  width: 75%;
  margin: 1% auto;
  overflow-wrap: break-word;
}

.box {
  border: 5px double rgba(0, 100, 255, 0.75);
}

#image {
  height: 100px;
  display: inline-block;
  vertical-align: top;
}

footer {
  background-color: rgba(0, 100, 255, 0.75);
  display: flex;
  justify-content: space-around;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.gandalf {
  background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.upper {
  text-transform: uppercase;
  text-decoration: underline;
}

.blue {
  color: rgba(0, 100, 255, 0.75);
}

.link {
  color: blue;
  font-style: italic;
}

.fire {
  background: -webkit-linear-gradient(red, orange, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
