<!DOCTYPE html>
<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//apis.google.com/js/platform.js?onload=start"></script>

  <meta charset="UTF-8">

  <title>A Pen by  John Conway</title>

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='getCatalog.css') }}">
</head>

<body>
<header class="header_container">
    <h1 class="header_item" id="logo">CATALOG</h1>
    <h3 class="header_item" id="header_description">Create, Read, Update, and DESTROY your own Items</h3>
</header>

<nav class="nav_container">
</nav>

<div class="body_container">
  <div class="body_item" id="body_header">
    <div id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="103508732096-jt8jlmikknc1cqj5uur8sab14s9tn0ba.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
  </div>

<div id="result"></div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/";
         }, 4000);
          
      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  }); } }
</script>
  </div>
</div>

<footer class="footer_container" id="footer">
  <div class="footer_item"> By: John Conway   </div>
  <div class="footer_item">
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
      <img src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!"/>
    </a>
  </div>
</footer>
  
  
</body>
</html>
